* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.banner {
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

#logoheader {
    margin-left: 6vw;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-right: 7vw;
    gap: 3vw;
}

.hmenu {
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

@media (max-width:525px) {
    .navigation {
        flex-direction: column;
    }

    .hmenu {
        font-size: 15px;
    }
}

.corpo {
    display: flex;
    justify-content: space-around;    
    margin-top: 82px;
    margin-bottom: 39px;
}
.formulario{
    margin-left: 20px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FF4081;
}

#form {
    display: flex;
    flex-direction: column;    
    background: #FFFFFF;
    width: 35vw;
    height: 419px;
    margin-top: 44px;
}

#nome {
    border-radius: 7px;
    border: 1px solid #686868;
    padding: 6px 6px 6px 18px;
}

#email {
    border-radius: 7px;
    border: 1px solid #686868;
    padding: 6px 6px 6px 18px;
}

#mensagem {
    border-radius: 7px;
    border: 1px solid #686868;
    padding: 6px 6px 180px 18px;
}

#buttonform {
    width: 108px;
    height: 32px;
    background: #FF4081;
    border-radius: 50px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    border: none;
}
.imgcontato{
    display: flex;
    align-items: center;
    margin-top: -100px;
}
#imgcontato{
    width: 100%      
}
@media (max-width:525px){
    .imgcontato{
        display: none;
    }
    #form{
        width: 80vw;
    }
}

.rodape {
    height: 207px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2E948A;
}

.navigation2 {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.fmenu {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.fbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

@media (max-width: 580px) {
    .navigation2 {
        display: none;
    }

    #logofooter {
        width: 152px;
        height: 48px;
    }
}