* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.banner {
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

#logoheader {
    margin-left: 6vw;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-right: 7vw;
    gap: 3vw;
}

.hmenu {
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

@media (max-width:525px) {
    .navigation {
        flex-direction: column;
    }

    .hmenu {
        font-size: 15px;
    }
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    text-transform: capitalize;
    color: #FF4081;
}

.subtcursos {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.titlecursos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 82px;
    padding-top: 81px;
    padding-bottom: 95px;
}

.caixacursos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 53px;
    padding-bottom: 68px;
}
.caixacursos1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 53px;
    padding-bottom: 68px;
    padding-top: 107px;
}
.caixacursos2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 53px;
    padding-bottom: 202px;
    padding-top: 93px;
}

.infocursos1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 53px;
}

h2,
h3,
h4 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    margin-top: -40px;
}

.textinfo1 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: -16px;
}
hr{
    height: 5px;
    width: 90vw;
    background: #C4C4C4;
    margin: auto;
}

.rodape {
    height: 207px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2E948A;
}

.navigation2 {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.fmenu {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.fbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

@media (max-width: 580px) {
    .navigation2 {
        display: none;
    }

    #logofooter {
        width: 152px;
        height: 48px;
    }
}